/* All main colors */
body {
  background: linear-gradient(165.08deg, #000000 7.3%, #2E2D2D 92.32%);
  box-sizing: border-box;
  font-family: "Roboto", Tahoma, Verdana, sans-serif;
  min-height: 100vh;
}

.main_container {
  max-width: 80%;
  margin: 0 auto;
}

header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 1em 0em;
}
header .search {
  align-items: center;
  display: flex;
}
header .search a {
  color: #FFF;
  font-size: 1.2em;
  margin: 0em 2em;
}
header .search :hover {
  opacity: 80%;
  text-decoration-line: underline;
  text-underline-offset: 0.8em;
}
header .links {
  align-items: center;
  display: flex;
}
header .links .buttons {
  margin-left: 1em;
}
header .links :hover {
  opacity: 90%;
}
header .menu {
  display: none;
}

@media screen and (max-width: 1080px) {
  header .search a {
    margin: 0em 1em;
  }
}
@media screen and (max-width: 900px) {
  header .search a {
    margin: 0em 0.5em;
  }
}
@media screen and (max-width: 800px) {
  header .links .buttons {
    display: none;
  }
}
@media screen and (max-width: 524px) {
  header {
    justify-content: space-between;
  }
  header .search {
    animation: logo-animation 2s ease-in-out infinite;
    transform: translateY(0px);
  }
  header .search .text-search {
    display: none;
  }
  header .links {
    display: none;
  }
  header .menu {
    display: flex;
  }
  header .menu .menu_content_container {
    align-items: center;
    background-color: rgb(56, 60, 51);
    display: flex;
    height: 3vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 5em;
    transition: 500ms;
    width: 100%;
  }
  header .menu .menu_content_container .menu_content {
    color: #FFF;
    margin-left: 2em;
  }
}
.show_menu {
  opacity: 1 !important;
}

@keyframes logo-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.home_section .home_content {
  background-image: url("../components/programmer-illustration.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  margin: 0 auto;
}
.home_section .home_content .home_text {
  color: #FFF;
  line-height: 120%;
}
.home_section .home_content .home_text .hello {
  font-size: 2em;
  padding-bottom: 1.3em;
}
.home_section .home_content .home_text .name {
  font-size: 5em;
}
.home_section .home_content .home_text .home-img {
  display: none;
}
.home_section .home_content .home_text .welcome {
  font-size: 2em;
  padding-top: 1.3em;
}
.home_section .home_content .home_links {
  display: flex;
  margin-top: 6em;
}
.home_section .home_content .home_links .buttons .button {
  margin-left: 2em;
  width: 25em;
}

@media screen and (max-width: 1500px) {
  .home_section .home_content {
    background-size: 40%;
  }
  .home_section .home_content .home_text .welcome {
    line-height: 110%;
  }
}
@media screen and (max-width: 1200px) {
  .home_section .home_content .home_text .name {
    font-size: 4em;
  }
}
@media screen and (max-width: 970px) {
  .home_section {
    display: flex;
    text-align: center;
  }
  .home_section .home_content {
    background: none;
  }
  .home_section .home_content .home_text .home-img {
    display: flex;
    padding-top: 2em;
    margin: 0 auto;
    width: 50%;
  }
  .home_section .home_content .home_links {
    justify-content: center;
  }
}
@media screen and (max-width: 702px) {
  .home_section .home_content .home_text .name {
    font-size: 3.5em;
  }
  .home_section .home_content .home_links .buttons .button {
    margin-left: 2em;
    width: 25em;
  }
}
@media screen and (max-width: 618px) {
  .home_section .home_content .home_text {
    font-size: 0.9em;
  }
  .home_section .home_content .home_text .name {
    font-size: 2.5em;
  }
  .home_section .home_content .home_links .buttons .button {
    margin-left: 0.5em;
    width: 20em;
  }
}
@media screen and (max-width: 420px) {
  .home_section .home_content .home_text .name {
    font-size: 2em;
    line-height: 110%;
  }
  .home_section .home_content .home_text .home-img {
    width: 80%;
  }
  .home_section .home_content .home_links .buttons .button {
    margin-left: 0.5em;
    width: 10em;
  }
}
@media screen and (max-width: 375px) {
  .home_section .home_content .home_text {
    margin-top: 5em;
  }
  .home_section .home_content .home_links {
    margin-top: 1em;
  }
}
.story {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2em;
}
.story .story_section {
  width: 50%;
}
.story .story_section .story_content {
  align-items: center;
  border: 0.2em solid rgb(56, 60, 51);
  border-radius: 2em;
  display: flex;
  flex-direction: column;
}
.story .story_section .story_content .title_story {
  color: #FFF;
  font-size: 4em;
  padding-top: 1em;
}
.story .story_section .story_content .story_text {
  color: #FFF;
  font-size: 1.5em;
  line-height: 110%;
  padding-top: 1em;
  text-align: center;
  width: 80%;
}
.story .book_image {
  animation: books-animation 2s ease-in-out infinite;
  margin-left: 2em;
  opacity: 80%;
  width: 50%;
}

@keyframes books-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media screen and (max-width: 1080px) {
  .story {
    margin-top: 1em;
  }
  .story .story_section {
    width: 100%;
  }
  .story .story_section .story_content .title_story {
    font-size: 4em;
  }
  .story .story_section .story_content .story_text {
    font-size: 2em;
    width: 95%;
  }
  .story .book_image {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .story .story_section .story_content .title_story {
    font-size: 2em;
  }
  .story .story_section .story_content .story_text {
    font-size: 1em;
  }
}
.skills_section {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  padding: 2em 0;
}
.skills_section .aside_img {
  animation: skills-animation 2s ease-in-out infinite;
  width: 40%;
}
.skills_section .skills_content {
  align-items: center;
  border: 0.2em solid rgb(56, 60, 51);
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
}
.skills_section .skills_content .title_skills {
  color: #FFF;
  font-size: 3em;
  padding-top: 1.5em;
  margin-bottom: 1em;
}
.skills_section .skills_content .skills_itens {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skills_section .skills_content .skills_itens .skill_icon {
  color: #FFF;
  display: flex;
  font-size: 1.2em;
  margin-right: 2em;
  margin-bottom: 5em;
  width: 15em;
}
.skills_section .skills_content .skills_itens .alignment {
  align-items: right;
  flex-direction: column;
  justify-content: right;
  padding-left: 10px;
  text-align: left;
}
.skills_section .skills_content .skills_itens .alignment h3 {
  padding-bottom: 0.5em;
}
.skills_section .skills_content .skills_itens .alignment .progress {
  height: 30px;
  width: 210px;
}

@keyframes skills-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media screen and (max-width: 1530px) {
  .skills_section .aside_img {
    display: none;
  }
  .skills_section .skills_content {
    width: 100%;
  }
}
@media screen and (max-width: 406px) {
  .skills_section .skills_content {
    border: none;
  }
  .skills_section .skills_content .skills_itens .skill_icon {
    margin-right: 0;
  }
}
.jobs_section {
  padding-bottom: 2em;
}
.jobs_section .title_jobs {
  color: #FFF;
  font-size: 4em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  text-align: center;
}
.jobs_section .cards_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.jobs_section .cards_content .card {
  background-color: #2e2d2d;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.4);
  margin: 0.5em 1em;
  max-width: 25em;
  min-height: 9em;
  transition: all 0.4s ease-in-out;
}
.jobs_section .cards_content .card a, .jobs_section .cards_content .card p {
  color: #FFF;
}
.jobs_section .cards_content .card:hover {
  transform: scale(1.04);
  box-shadow: 1em 1em 0.5em rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 336px) {
  .card {
    width: 500px;
  }
}
.contact_section {
  padding-bottom: 2em;
}
.contact_section .title_contact {
  color: #FFF;
  font-size: 4em;
  margin-bottom: 1em;
  text-align: center;
}
.contact_section .field {
  margin: 0 auto;
  padding-bottom: 1em;
  width: 80%;
}
.contact_section .field .label {
  color: #FFF;
}
.contact_section .control input::placeholder, .contact_section .control .textarea::placeholder {
  color: #2e2d2d;
}
.contact_section .control .button {
  width: 100%;
}

.footer {
  display: flex;
  border-radius: 2em 2em 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em 0.5em;
}
.footer .content {
  align-items: center;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer .content .footer_links {
  align-items: center;
  display: flex;
  margin: 0 0.5em;
}
.footer .content .footer_links [name=linkedin] {
  margin-left: 0.5em;
}

@media screen and (max-width: 414px) {
  .footer {
    padding: 0;
  }
  .footer .contacts {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
