header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 1em 0em;
  .search {
    align-items: center;
    display: flex;
    a {
      color: $font-color;
      font-size: 1.2em;
      margin: 0em 2em;
    }
    :hover {
      opacity: 80%;
      text-decoration-line: underline;
      text-underline-offset: 0.8em;
    }
  }
  .links {
    align-items: center;
    display: flex;
    .buttons {
      margin-left: 1em;
    }
    :hover {
      opacity: 90%;
    }
  }
  .menu {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  header {
    .search {
      a {
        margin: 0em 1em;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    .search {
      a {
        margin: 0em 0.5em;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    .links {
      .buttons {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 524px) {
  header {
    justify-content: space-between;
    .search {
      animation: logo-animation 2s ease-in-out infinite;
      transform: translateY(0px);
      .text-search {
        display: none;
      }
    }
    .links {
      display: none;
    }
    .menu {
      display: flex;
      .menu_content_container {
        align-items: center;
        background-color: rgba(56, 60, 51, 1);
        display: flex;
        height: 3vh;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 5em;
        transition: 500ms;
        width: 100%;
        .menu_content {
          color: $font-color;
          margin-left: 2em;
        }
      }
    }
  }
}

.show_menu {
  opacity: 1 !important;
}

@keyframes logo-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
