header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em 0em;
  .search {
    align-items: center;
    display: flex;
    a {
      color: $font-color;
      font-size: 1.2em;
      margin: 0em 2em;
    }
    :hover {
      opacity: 80%;
      text-decoration-line: underline;
      text-underline-offset: 0.8em;
    }
  }
  .links {
    align-items: center;
    display: flex;
    .buttons {
      margin-left: 1em;
    }
    :hover {
      opacity: 90%;
    }
  }
}

@media screen and (max-width: 1080px) {
  header {
    .search {
      a {
        margin: 0em 1em;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    .search {
      a {
        margin: 0em 0.5em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    .links {
      .buttons {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    .search {
      display: block;
      margin: 0 auto;
      .text-search {
        display: none;
      }
    }
    .links {
      display: none;
    }
  }
}
