.home_section {
  overflow: hidden;
  .home_content {
    background-image: url("../../components/programmer-illustration.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    margin: 0 auto;
    .home_text {
      color: $font-color;
      line-height: 120%;
      .hello {
        font-size: 2em;
        padding-bottom: 1.3em;
      }
      .name {
        font-size: 5em;
      }
      .welcome {
        font-size: 2em;
        padding-top: 1.3em;
      }
    }
    .home_links {
      display: flex;
      margin-top: 6em;
      .buttons .button {
        margin-left: 2em;
        width: 25em;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .home_section {
    .home_content {
      background: none;
      height: 75vh;
      .home_text {
        text-align: center;
        font-size: 1.5em;
        .name {
          font-size: 2.7em;
          font-weight: bold;
          line-height: 110%;
        }
        .welcome {
          line-height: 110%;
        }
      }
      .home_links {
        justify-content: center;
        margin-top: 4em;
        .buttons .button{
          margin-left: 1em;
          width: 25em;
        }
      }
    }
  }
}

@media screen and (max-width: 642px) {
  .home_section {
    .home_content {
      height: 55vh;
      .home_text {
        font-size: 1.2em;
      }
      .home_links {
        margin-top: 2em;
        .buttons .button{
          width: 20em;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .home_section {
    .home_content {
      .home_text {
        font-size: 0.9em;
        .name {
          font-size: 2.5em;
        }
      }
      .home_links {
        margin-top: 2em;
        .buttons .button{
          margin-left: 0.5em;
          width: 10em;
        }
      }
    }
  }
}
